<ion-view view-title="{{ 'SETTINGS' | translate }}">
  <ion-content class="padding">

    <h1>{{ 'SETTINGS' | translate }}</h1>

	  <ion-list>
	    <div class="item item-divider">
        	{{ 'LANGUAGE' | translate }}
        </div>
	    <ion-radio
			ng-repeat="lang in availableLanguages"
			ng-value="lang"
			ng-model="settings.language"
			ng-change="changeLanguage()"
			name="languageRadios"> <!-- name is needed so these radios are seperate from the volume profile radios -->
			{{ lang }}
        </ion-radio>
		<div class="item item-divider">
			{{ 'CONNECTION_TYPE' | translate }}
        </div>
        <ion-toggle ng-model="settings.reconnect" ng-change="update()" toggle-class="toggle-calm">{{ 'AUTO_RECONNECT' | translate }}</ion-toggle>
	  	<div class="item item-divider">
            {{ 'SCAN_DURATION' | translate }}
        </div>
		<div class="item range">
		  <i class="icon ion-clock"></i>
			 <!-- minLimit prevents the slider to actually be settable to 0 although 0 is displayed
			      translate refers to a function which modifies the String of the label
				  onChange calls the specified method when there was a change to the rz-slider-model -->
			<rzslider rz-slider-model="settings.duration" rz-slider-options="{floor: 0, minLimit: 1, ceil: 60, step: 5, onChange: update,
																			 translate: durationSliderLabel, hideLimitLabels: true}"></rzslider>
		  <i class="icon ion-clock"></i>
		</div>
        <div class="item range">
          <i class="icon ion-volume-low"></i>
            <rzslider rz-slider-model="settings.volume" rz-slider-options="{floor: 0, ceil: 100, onChange: changedVolume,
																		   translate: volumeSliderLabel, hideLimitLabels: true}"></rzslider>
          <i class="icon ion-volume-high"></i>
        </div>
        <ion-toggle ng-model="settings.mute" ng-change="muteToggle()" toggle-class="toggle-calm">{{ 'MUTE' | translate }}</ion-toggle>
        <ion-list ng-show="settings.volumeProfiles.length > 0">
          <div class="item item-divider">
            {{ 'VOLUME_PROFILES' | translate }}
          </div>
          <!-- REMEMBER: ng-values are compared by ==. Two objects equal each other in js
            if they refer to the same object! so we need to compare the objects into a
            string (JSONify!) -->
          <ion-radio
               ng-repeat="volumeProfile in settings.volumeProfiles"
               ng-value="volumeProfile|json"
               ng-model="settings.currentVolumeProfile"
               ng-change="changeVolumeProfile()"
			   name="volumeProfileRadios">
               {{ volumeProfile.name | translate }}
          </ion-radio>
        </ion-list>
        <div class="item item-divider">
      		{{ 'ENVIRONMENT_VOLUME' | translate }}: {{ decibel }} dB
        </div>
        <ion-toggle ng-model="settings.isListeningDecibel" ng-change="decibelToggle()" toggle-class="toggle-calm">{{ 'ACTIVATE_DB_METER' | translate }}</ion-toggle>
      </ion-list>

  </ion-content>
</ion-view>
