<ion-view view-title="{{ 'GRAPH' | translate }}">
  <ion-content class="padding">
    <h1>{{ 'GRAPH' | translate }}</h1>

    <div class="card">
        <div class="item item-divider">
            {{ 'BAR_GRAPH' | translate }}
        </div>
        <div class="item item-text-wrap">
            <canvas id="bar" class="chart chart-bar" data="data" labels="labels"
             legend="true" series="series" options="{showTooltips: true}"
             on-touch="startDrag($event)"
             on-drag-left="mouseMove($event)"
             on-drag-right="mouseMove($event)"
             on-release="stopDrag($event)"></canvas>
            
             <button class="button button-royal" id="btnTrackGraph" ng-click="followGraph();">{{ 'TRACK_GRAPH' | translate }}</button>
        </div>
        </div>
    <h1>Usage Time</h1>
    <h2><div id="usage-time">{{hours}}:{{minutes}}:{{seconds}}<br/>
    </div></h2>
    
  
    </ion-content>
</ion-view>
