<ion-view view-title="Settings">
  <ion-content class="padding">
    <h1>Settings</h1>

      <ion-toggle ng-model="settings.reconnect" ng-change="update()" toggle-class="toggle-calm">Automatic Reconnect</ion-toggle>

	  <div class="item">
	  	<div class="item item-divider">
            Scan Duration
        </div>
		<div class="item range">
		  <i class="icon ion-clock"></i>
			 <!-- minLimit prevents the slider to actually be settable to 0 although 0 is displayed
			      translate refers to a function which modifies the String of the label
				  onChange calls the specified method when there was a change to the rz-slider-model -->
			<rzslider rz-slider-model="settings.duration" rz-slider-options="{floor: 0, minLimit: 1, ceil: 60, step: 5, onChange: update,
																			 translate: durationSliderLabel, hideLimitLabels: true}"></rzslider>
		  <i class="icon ion-clock"></i>
		</div>
	  </div>
      <div class="item">
        <div class="item range">
          <i class="icon ion-volume-low"></i>
            <rzslider rz-slider-model="settings.volume" rz-slider-options="{floor: 0, ceil: 100, onChange: changedVolume,
																		   translate: volumeSliderLabel, hideLimitLabels: true}"></rzslider>
          <i class="icon ion-volume-high"></i>
        </div>
        <ion-toggle ng-model="settings.mute" ng-change="muteToggle()" toggle-class="toggle-calm">Mute</ion-toggle>
        <ion-list class="list list-inset" ng-show="settings.volumeProfiles.length > 0 && !settings.mute">
          <div class="item item-divider">
            Volume Profiles:
          </div>
          <!-- REMEMBERL ng-values are compared by ==. Two objects equal each other in js
            if they refer to the same object! so we need to compare the objects into a
            string (JSONify!) -->
          <ion-radio
               ng-repeat="volumeProfile in settings.volumeProfiles"
               ng-value="volumeProfile|json"
               ng-model="settings.currentVolumeProfile"
               ng-change="changeVolumeProfile()">
               {{ volumeProfile.name }}
          </ion-radio>
        </ion-list>
      </div>

  </ion-content>
</ion-view>