<ion-view view-title="SensorTag">
    <ion-content class="padding">
        <h1>Sensor Tag</h1>

        <div id="overviewPage" ng-if="connected == false">
            <h2 id="reconnectMessage"></h2>
            <ul id="SensorTagList">
                <li ng-repeat="(address, device) in devices" on-touch="connect(device)">
                    {{device.name}}
                    <br/> RSSI: {{device.rssi}} &nbsp;|&nbsp {{device.address}}
                </li>
            </ul>
            <div ng-if="noDevice == true">No device found</div>
            <progress ng-if="scanDevice == true"></progress>
            <button id="btnRefresh" on-touch="refreshSensortags()">Scan for Devices</button>
            <span id="lastConDevice"></span>
        </div>
        <div id="devicePage" ng-if="connected == true">
            <div id="barometerData">
                Temperature <br/> 
                {{barometer.temperature}} <br/><br/>
                 Pressure <br/> 
                {{barometer.pressure}} <br/><br/>
            </div>
            <button id="disconnectButton" on-touch="disconnect()">Disconnect</button>
        </div>


    </ion-content>
</ion-view>