.*.swp
platforms/
plugins/
docker/assets/
node_modules/
platforms/
plugins/
.vscode/
www/lib
www/css/ionic-ltr.app.css
www/css/ionic-ltr.app.min.css
www/css/ionic-rtl.app.css
www/css/ionic-rtl.app.min.css
resources/
scss/ionic-ltr.app.scss
icon.png
.project
.settings/
*~
